.customHeight {
    height: 450px;
}

@media only screen and (min-height: 1300px) {
    .customHeight {
        height: 900px;
    }
}


/*
@media only screen and (max-height: 600px) {
    .test {
        height: 450px;
    }
}
*/