.customHeight {
    height: 450px;
    min-height: 539px;
}

@media only screen and (min-height: 900px) {
    .customHeight {
        height: auto;
        min-height: 539px;
    }
}



@media only screen and (min-height: 800px) {
    .test {
        height: 200px;
        min-height: 539px;
    }
}
